
$primary: #638ECB;      // clay
$secondary: #8AAEE0;    // mocha
$info: #B1C9EF;         // beige
$light: #D5DEEF;        // light
$dark: #395886;         // brown
$body-bg: #F0F3FA;   
@import "bootstrap/scss/bootstrap";
