/* src/main.css */

body {
  background-image: url('../public/images/img4.jpg'); /* adjust path as needed */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
